# ===== Django =====
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ===== PostgreSQL =====
POSTGRES_DB=homework_drf
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# ===== Celery / Redis =====
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# ===== Stripe =====
STRIPE_SECRET_KEY=ВСТАВЬТЕ_СВОЙ_КЛЮЧ
